body {
  background-color: #0080ff;
}

img {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 1000px) {
  #gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 720px) {
  #gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 500px) {
  #gallary {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 20px;
  }
} ;
