@media only screen and (min-width: 800px) {
  .main-nav {
    max-height: none;
  }
  ul {
    display: flex;
  }
  .logo {
    display: none;
  }

  #article,
  #wut,
  #hero-img,
  #five-day,
  #weather-summary {
    border: none;
    background-color: white;
  }
}
